{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}Register{% endblock title %}




{% block body %}
    <h1>Register</h1>

    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}

        {% if 'next' in request.GET %}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        {% endif %}

        
        <input class="btn btn-primary" type="submit" value="Register">
        <p class="text-muted">Already have an account? Let's <a href="{% url 'users:login' %}">Login!</a></p>
    </form>
{% endblock body %}